# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto

# These files are text and should be normalized (Convert crlf => lf)
*.js text
*.md text
*.py text
*.tt text
*.tin text
*.txt text
*.html text
*.yaml text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.db binary
*.gz binary
*.ico binary
*.png binary
